<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="/img/Group 16.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        a:hover,
        a:focus {
            text-decoration: none;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="main-content container">
        <%- include('../partials/header.ejs') %>
        <ul>
            <li><p><span class="dot"></span>&nbsp;<%=desc1%></p></li>
            <li><p><span class="dot"></span>&nbsp;<%=desc2%></p></li>
            <li><p><span class="dot"></span>&nbsp;<%=desc3%></p></li>
        </ul>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>